.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	&__image {
		width: 100%;
		height: 100%;
	}
}


.nabar {
	&__menu {
		display: flex;
		list-style: none;
		gap: 15px;
		text-transform: uppercase;
	}

	&__link {
		padding: 0.5rem;
		border: 2px solid #3333;
		color: #333333;
		font-weight: 500;
		transition: 500ms ease;

		&:hover {
			border-radius: 15px;
			border-color: rgba(0, 0, 139, 0.4);
			background-color: rgba(221, 245, 255, 0.8);
			color: rgba(0, 0, 139, 0.9);
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
		}
	}
}