.checkbox_wrapper_55 input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

.checkbox_wrapper_55 *,
.checkbox_wrapper_55 ::after,
.checkbox_wrapper_55 ::before {
	box-sizing: border-box;
}

.checkbox_wrapper_55 .rocker {
	display: inline-block;
	position: relative;
	/*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #888;
	width: 7em;
	height: 4em;
	overflow: hidden;
	border-bottom: 0.5em solid #eee;
}

.checkbox_wrapper_55 .rocker_small {
	font-size: 0.75em;
}

.checkbox_wrapper_55 .rocker::before {
	content: "";
	position: absolute;
	top: 0.5em;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #999;
	border: 0.5em solid #eee;
	border-bottom: 0;
}

.checkbox_wrapper_55 .switch_left,
.checkbox_wrapper_55 .switch_right {
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5em;
	width: 3em;
	transition: 0.2s;
	user-select: none;
}

.checkbox_wrapper_55 .switch_left {
	height: 2.4em;
	width: 2.75em;
	left: 0.85em;
	bottom: 0.4em;
	background-color: #ddd;
	transform: rotate(15deg) skewX(15deg);
}

.checkbox_wrapper_55 .switch_right {
	right: 0.5em;
	bottom: 0;
	background-color: #bd5757;
	color: #fff;
}

.checkbox_wrapper_55 .switch_left::before,
.checkbox_wrapper_55 .switch_right::before {
	content: "";
	position: absolute;
	width: 0.4em;
	height: 2.45em;
	bottom: -0.45em;
	background-color: #ccc;
	transform: skewY(-65deg);
}

.checkbox_wrapper_55 .switch_left::before {
	left: -0.4em;
}

.checkbox_wrapper_55 .switch_right::before {
	right: -0.375em;
	background-color: transparent;
	transform: skewY(65deg);
}

.checkbox_wrapper_55 input:checked+.switch_left {
	background-color: #0084d0;
	color: #fff;
	bottom: 0px;
	left: 0.5em;
	height: 2.5em;
	width: 3em;
	transform: rotate(0deg) skewX(0deg);
}

.checkbox_wrapper_55 input:checked+.switch_left::before {
	background-color: transparent;
	width: 3.0833em;
}

.checkbox_wrapper_55 input:checked+.switch_left+.switch_right {
	background-color: #ddd;
	color: #888;
	bottom: 0.4em;
	right: 0.8em;
	height: 2.4em;
	width: 2.75em;
	transform: rotate(-15deg) skewX(-15deg);
}

.checkbox_wrapper_55 input:checked+.switch_left+.switch_right::before {
	background-color: #ccc;
}

/* Keyboard Users */
.checkbox_wrapper_55 input:focus+.switch_left {
	color: #333;
}

.checkbox_wrapper_55 input:checked:focus+.switch_left {
	color: #fff;
}

.checkbox_wrapper_55 input:focus+.switch_left+.switch_right {
	color: #fff;
}

.checkbox_wrapper_55 input:checked:focus+.switch_left+.switch_right {
	color: #333;
}


.todos {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&_table {
		border: 1px solid black;
		padding: 0.25rem;
		margin: 1rem;
	}

	th {
		padding: 1rem;
		border: 1px solid black;
		background-color: #bbd9ea60;
	}

	td {
		padding: 0.25rem;
		border: 1px solid black;
		text-align: center;
	}

	tr {
		cursor: pointer;
		transition: all 0.3s ease;

		&:nth-child(even) {
			background-color: #8888884c;
		}

		&:hover {
			background-color: #bd57574e;
		}
	}
}